@import "settings";

body {
	margin: 0;
	padding: 0;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

h2 {
	font-family: "Playfair Display", serif;
	text-align: center;
}

.top-menu-container {
	border-bottom: 1px solid #c8cfd6;
	background-color: #fff;
	position: fixed;
	z-index: 2;
	width: 100%;
}

.top-menu {
	height: 80px;
	max-width: 1200px;
	margin: 0 auto;
	
	img {
		float: left;
		height: 35px;
		width: auto;
		margin: 20px;
	}

	ul {
		padding: 0;
		position: absolute;
    	top: 80px;
    	margin: 0 auto;
    	width: 100%;
    	background-color: #fff;
    	display: none;

		li {
			list-style: none;
			display: block;
    		text-align: center;
			a {
				text-decoration: none;
				color: #500e5e;
				font-family: "Open Sans", sans-serif;
		    	padding: 20px;
				height: 100%;
				display: block;
				border-top: 1px solid #c8cfd6;
			}
			&:hover {
				background-color: #500e5e;
				a {
					color: #fff;
				}
			}
		}
	}

	.active {
		display: block;
	}

	.search-input {
		font-family: Arial, FontAwesome;
    	padding: 10px;
    	border: 2px solid #c8cfd6;
    	margin: 20px 0;
    	transition: all 0.5s linear;
    	width: 130px;

    	&:focus {
    		border-color: #500e5e;
    	}
	}

	.mobile-menu-icon {
		font-family: Arial, FontAwesome;
    	font-size: 40px;
		float: right;
	    height: 40px;
    	width: auto;
    	margin: 20px;
    	background: none;
    	border: none;
    	color: #500e5e;
    	&:after {
    		content: '\f0c9';
    	}
	}
	.to-close-menu:after {
		content: "\f00d";
	}
}

.page-header {
	background-image: url(../img/bg_home.png);
	background-position: center;
    background-size: cover;
    min-height: 80vh;
    background-attachment: fixed;
    h1 {
    	font-size: 70px;
    	padding-top: 120px;
    	color: #fff;
    	max-width: 1200px;
    	margin: 0 auto;
    }
}

.flights {
	form {
		position: relative;
		background-color: #500e5e;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
		margin: -60px auto 0;
		label {
		    display: block;
		    margin-left: 20px;
		}

		img {
			height: 20px;
		}
		input {
			background-color: transparent;
			padding: 10px 0;
			margin: 0 10px;
			border: none;
			color: #fff;
			&[type=text] {
				border-bottom: 1px solid #7c4a86;
			}
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #fff;
				}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: #fff;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: #fff;
			}
			&[type=button] {
				margin: 0;
				padding: 0;
			}
		}

		.button-submit {
			background-color: #69157a;
    		box-shadow: -20px 0px 31px -9px rgba(0, 0, 0, 0.25);
    		position: absolute;
    		margin: 0;
			top: 0;
			right: 0;
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	
	header {
		max-width: 800px;
		margin: 0 auto;
	}

	h2 {
		font-size: $h2-size-mobile;
    	font-weight: normal;
    	margin-top: 20vh;
	}
	p {
		margin: 0 auto;
		font-family: "Open Sans", sans-serif;
    	color: #323232;
    	font-size: 20px;
	}

	.header-img {
		display: flex;
    	justify-content: space-between;
    	align-content: space-between;
    	margin: 10vh 10vw;
		img {
		height: 50px;
		width: auto;
		}
	}
}

.space {
		background-image: url(../img/section-space.png);
		background-position: center;
    	background-repeat: no-repeat;
    	background-size: cover;
    	height: 170px;
}

.destinations {
	max-width: 800px;
	margin: 0 auto 50px;
	h2 {
		text-align: center;
		font-size: $h2-size-mobile;
    	font-family: "Playfair Display", serif;
    	font-weight: normal;
	}
	p {
		margin: 0 auto 50px;
		font-family: "Open Sans", sans-serif;
    	color: #323232;
    	font-size: 20px;
	}
	
	.gallery {
		margin: 50px auto 0;
	    height: 260px;
	    width: 200px;
	    position: relative;
	    text-align: center;
		.photo-box {
			position: relative;
			.photo-element {
				position: absolute;
				top: 0;
				left: 0;	
				background-color: #ebebeb;
				width: 200px;
				height: 200px;
				box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
			}
			.gallery-img {
				background-position: 54% 72%;
	    		background-repeat: no-repeat;
	    		border: 10px solid #ebebeb;
	    		box-sizing: border-box;
			}
			.bg-img1 {
				background-image: url(../img/new-york.jpg);
			}
			.bg-img2 {
				background-image: url(../img/dubai.jpg);
			}
			.bg-img3 {
				background-image: url(../img/paris.jpg);
			}
			.bg-img4 {
				background-image: url(../img/london.jpeg);
			}
			.bg-img5 {
				background-image: url(../img/amsterdam.jpg);
			}
			.bg-img6 {
				background-image: url(../img/rio.jpeg);
			}
			.img-decoration-1 {
				transform: rotate(-10deg);
			}
			.img-decoration-2 {
				transform: rotate(-5deg);
			}
		}
		h3 {
    		text-transform: uppercase;
    		font-family: "Open Sans", sans-serif;
    		font-weight: bold;
    		color: #585858;
    		position: absolute;
    		bottom: 0;
    		margin: 0;
    		left: 0;
    		right: 0;
		}
	}
	.city-post {
		box-sizing: border-box;
		position: fixed;
		top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
		overflow: auto;
		background-color: red;
		opacity: 0;
		background: rgba(0, 0, 0, 0.6);
		pointer-events: none;
		&:target {
			opacity: 1;
			z-index: 2;
			pointer-events: auto;
		}
		.city-post-content {
			position: relative;
			margin: 10% auto;
    		background-color: #fff;
    		border: 10px solid #ebebeb;
    		div {
    			display: inline-block;
    			h3 {
    				text-align: center;
    			}
    		}
    		img {
    			width: 90vw;
    		}
			a {
				position: absolute;
			    top: 0;
			    right: 0;
			}
		}
	}
}

.feedback {
	h3 {
		color: #500e5e;
		text-align: center;
		position: relative;
		span {
			background-color: #fff;
		    padding: 0 1em;
		    line-height: 2em;
		}
		&:before {
			content:"";
    		position: absolute;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		height: 1em;
    		border-top: 3px solid #500e5e;
    		z-index: -1;

		}
	}
	.slider {
		.single-slide {
			position: relative;
			height: 500px;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border: 10px solid #fff;
			.slide-description {
				position: absolute;
				bottom: 0;
				background-color: #fff;
				top: 50%;
				left: 10%;
				right: 10%;
				bottom: 10%;
				color: #787878;
				img {
						border-radius: 50%;
						height: 100px;
						width: auto;
						position: absolute;
						top: -50px;
						right: 0;
						left: 0;
						margin: 0 auto;
				}
				p {
					padding: 15% 10%10%;
				}
				span {
					position: absolute;
					font-size: 50px;

				}
				.left-quote {
					top: 15%;
					left: 5%;
				}
				.right-quote {
					bottom: 15%;
					right: 5%;
				}
			}

		}
		.slick-current {
			border: 10px solid #ebebeb;
		}
		.slide-bg1 {
			background-image: url(../img/slide_bg1.jpg);
		}
		.slide-bg2 {
			background-image: url(../img/slide_bg2.jpg);
		}
		.slide-bg3 {
			background-image: url(../img/slide_bg3.png);
		}
		.slide-bg4 {
			background-image: url(../img/slide_bg4.jpg);
		}
	}
	footer {
		.right-quote {
			font-size: 70px;
			text-align: center;
			color: #500e5e;
			margin-bottom: 0;
		}
		h2 {
			color: #9f9d9e;
			margin-top: 0;
		}
		button {
		display: block;
	    margin: 50px auto;
		width: 200px;
	    height: 55px;
	    color: #500e5e;
	    background-color: #fff;
	    border-radius: 0;
	    border: 2px solid #500e5e;
	    text-transform: uppercase;
	    font-weight: bold;
		&:hover {
	    	background-color: #500e5e;
	    	color: #fff;
		}
		}
	}
}

footer.space {
	display: flex;
    align-items: center;
    justify-content: center;
    img {
    	height: 60px;
    }
}

@media only screen and (min-width: 768px) {
	.top-menu {

		ul {
		float: left;
		margin: 0;
		position: relative;
		width: auto;
		top: 0;
		display: block;
			li {
				line-height: 80px;
				display: inline-block;
				float: left;

				a {
					border: 0px;
					padding: 0 20px;
				}
			}
		}
		button {
			display: none;
		}
		.search-input {
			float: right;
			width: auto;
		}
	}

	.flights {
		form {
			display: flex;
			max-width: 1000px;
			padding: 40px;
			align-items: baseline;
			label {
		    	display: inline;
		    	margin-left: 0;
		    	}
			}
		
		.header-img {
			margin: 10vh 0;
			img {
				height: 100px;
				width: auto; 
			}
		}
	}
	h2 {
		font-size: $h2-size-desktop;
	}
	.destinations {
		.gallery-container {
			display: flex;
			justify-content: space-between;
			flex-flow: row wrap;
			.gallery {
				margin: 50px 10px 0;
			}
		}
		.city-post {
			.city-post-content {
				display: flex;
    			align-items: center;
    			justify-content: center;
    			div {
    				max-width: 50%;
    				p {
    				padding-right: 30px;
    				}
    			}
				img {
					width: 30%;
				}
			}
		}
	}
	.feedback {
		header {
			max-width: 800px;
    		margin: 0 auto 50px;
		}
	}
}